@import 'assets/scss/mixins/list-ui';
@include list();

.list-base-box {
  margin-top: 12px;

  &-button {
    padding: 7px 8px;
  }
}

.my-business .list-base {
  margin-top: 12px;
}

.list-base-ui {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);

  .asideBox {
    height: 120px;
    position: fixed;
    padding: 5px;
    z-index: 99;
    color: #fff;
    top: 45%;
    right: 0;

    &-commonSty {
      width: 50px;
      height: 50px;
      padding: 0 5px;
      line-height: 20px;
      font-size: 12px;
      background-color: rgba(57, 62, 68, 0.8);
      text-align: center;
      padding: 9px 2px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      user-select: none;
      z-index: 999;
    }

    &-callUp {
      margin-bottom: 5px;
    }

    &-callUp:hover {
      background-color: #ffa947;
    }

    &-imCheat {
      cursor: pointer;
    }

    &-imCheat:hover {
      background-color: #ffa947;
    }
  }
}
.business-right-more-handle {
  width: 100px;
}
