@import 'assets/scss/mixins/base';
@import 'assets/scss/mixins/list-ui';
@include list();

.team-manage_select-remote {
  .el-select-dropdown__wrap {
    .el-select-dropdown__item {
      height: max-content;
    }
  }
}



.manage {
  font-size: $font-size-md;

  .text {
    color: $black-2;
    height: 48px;

    &__txt {
      color: $base-color !important;
    }
  }

  &__search {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    background-color: $white;
    box-sizing: border-box;
    padding: 16px 0px 16px 20px;

    .el-form-item {
      margin-top: 12px 0 0 0;


      .el-form-item__label {
        color: $black-2;
        padding: 0;
        font-weight: $font-weight-crm;
      }

      .el-form-item__content {


        .el-input {
          width: 240px;
          height: 32px !important;
          line-height: 32px;


          .el-input__inner {
            padding: 7px 12px;
            font-size: $font-size-13;
            letter-spacing: 0.46px;
          }
        }
      }
    }

    .el-form-item:nth-child(4) {

      .el-form-item__content {
        margin-left: 44px;
        line-height: 1.6;
        margin-top: 4px;
        @include filter-item();

        span {
          margin-right: 2px;
        }

        .el-date-editor--datetimerange.el-input__inner {
          height: 32px;
          vertical-align: middle;
          margin-left: 5px;
          margin-right: 8px;

        }

        .el-date-editor {
          .el-range__close-icon {
            line-height: 28px;
            width: 8px;
          }

          .el-range-input {
            width: 68%;
          }

          .el-range__icon,
          .el-range-separator {
            line-height: 26px !important;
          }
        }
      }
    }
  }

  .button-box {
    margin-top: 12px;

    .list-base-box-button {
      padding: 7px 15px;
    }
  }



  &__main {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    background-color: $white;
    position: relative;
    margin-top: 12px;


    a {
      color: $base-color !important;
    }

    .hidden {
      width: 68px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .cell {
      padding-right: 0;

      .move {
        cursor: pointer;
        color: $list-table-handle-color;
        margin-right: 20px;
        white-space: nowrap;
      }
    }

    th {
      background-color: $white;
      color: $black-2;
      font-weight: $font-weight-crm;
    }

    .el-checkbox__inner {
      z-index: 0;
    }

    .star {
      color: $yellow;
    }

    .from {
      color: $gray;
      font-size: $font-size-sm;
      padding: 3px 6px;
      background-color: #f2f2f2;
    }
  }
}
