@import 'assets/scss/mixins/base';
.more-handle {
  box-shadow: $defalut-box-shadow;
  padding: $business-details-item-padding;
  background-color: $base-business-info-background-color;
  margin-top: $more-handle-title-margin-top;
  .title {
    color: $more-handle-title-color;
    font-weight: $more-handle-title-font-weight;
  }

  @include button-item();
}
