.library-records {
  .note-remind {
    color: $gray-11;
    font-size: $font-size-sm;
  }

  .el-dialog__title {
    font-weight: bold;
  }

  .el-textarea {
    width: 400px;
  }

  .el-form--label-left .el-form-item__label {
    text-align: right;
  }

  .el-radio {

    margin-right: 26px;

  }


}
