@import 'assets/scss/mixins/reset-ui.scss';
.cancel-limit-page {
  .el-dialog__body {
    min-height: 48px;
    .icon-surface_informationcircle {
      color: #f1524e;
    }
    .icon-limit-way {
      font-size: 14px;
      font-weight: 400;
      color: #222222;
      line-height: 20px;
    }
  }
  .cancel-limit-checkbox {
    margin-bottom: 28px;
    .el-checkbox__label {
      font-size: 14px;
      font-weight: 400;
      color: #222222;
      line-height: 20px;
    }
  }
  .dialog-footer {
    .el-button {
      width: 50px;
      height: 32px;
      border-radius: 2px;
      padding: 8px 12px;
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
    }
  }
}
