@import 'assets/scss/mixins/reset-ui.scss';
@import 'assets/scss/mixins/base.scss';
.write-follow-record {
  .el-textarea {
    width: 470px;
    &__inner {
      padding-bottom: 10px;
      border-radius: 2px;
    }
  }
  .el-input__inner {
    height: 32px;
    border-radius: 2px;
  }
  .el-form-item {
    margin-bottom: 20px;
  }
  .el-textarea .el-input__count {
    background-color: transparent;
    bottom: 0px;
  }
  .el-date-editor.el-input,
  .el-select {
    width: 300px;
  }
  .quick-note_group-add > i {
    font-size: 8px;
  }
  .el-form {
    .el-form-item:last-child {
      margin-bottom: 0;
    }
  }
  @include reset-label-before();
  @include quick-note();
  @include quick-note-team-manage();
}
