.refusalRelease {
  .el-dialog__header .el-dialog__title {
    color: #222;
    font-weight: 600;
  }
  .el-dialog__header {
    padding-top: 14px;
  }
  .el-dialog__body {
    padding: 16px 20px 0;
    .refusaltextarea {
      width: 440px;
      height: 120px;
    }
    .el-form-item__label {
      width: 95px;
    }
    .el-form-item__content {
      margin-left: 95px;
    }
    .el-textarea__inner {
      height: 120px;
      font-size: 13px;
      color: #999;
      textarea {
        height: 120px !important;
        min-height: 120px !important;
      }
    }
    .el-button--small {
      padding: 7px 13px 8px 12px;
    }
  }
}
