@import 'assets/scss/mixins/base';
.business-demand-info {
  box-shadow: $defalut-box-shadow;
  background-color: $base-business-info-background-color;
  margin-top: $more-handle-title-margin-top;
  padding: 13px 20px;

  .tab-warp {
    border-bottom: 1px solid #e5e5e5;

    .warp-tabs {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon-plusoutline {
        font-size: 8px;
      }
      &_item {
        cursor: pointer;
        position: relative;
        display: inline-block;
        flex-shrink: 0;
        padding: 14px 24px;
        user-select: none;
        color: $black-2;
        font-weight: $font-weight-crm;

        span {
          padding-bottom: 12px;
        }

        &-active {
          border-bottom: $list-search-tab-warp-item-border-bottom;
        }
      }

      &_left,
      &_right {
        flex-shrink: 0;
      }

      &_left {
        position: relative;
        cursor: pointer;
        .item-warp {
          overflow: hidden;
        }

        .item-nav {
          white-space: nowrap;
          position: relative;
          transition: transform 0.3s;
          float: left;
          z-index: 2;
        }

        .tab-prev,
        .tab-next {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 20px;
          position: absolute;
        }

        .tab-prev {
          left: -20px;
          top: 0;
        }

        .tab-next {
          right: -20px;
          top: 0;
        }
      }

      &_right {
        .el-date-editor {
          width: 160px;
        }

        .el-button {
          margin-left: 15px;
        }
      }
    }
  }

  .demand-content {
    position: relative;

    .warp-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 12px 16px;
      margin-top: 16px;
      height: 66px;
      background-color: $gray-13;

      &_left {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          &:first-child {
            color: $black-2;
            font-weight: $font-weight-crm;
            font-size: $font-size-sm;
          }

          &:last-child {
            span {
              color: $gray;
              font-size: $font-size-sm;

              em {
                color: $black-2;
              }

              &:last-child {
                margin-left: 20px;
              }
            }
          }
        }
      }

      &_right {
        @include button-item();
        .button-warp_item {
          height: 28px;
          font-size: 12px;
          font-weight: 400;
          color: #555555;
          background: #ffffff;
          border-radius: 2px;
        }
      }
    }

    .warp-bottom {
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;
      p {
        width: 50%;
        margin-top: 12px;
        span {
          em {
            &:first-child {
              display: inline-block;
              width: 108px;
              color: $gray-11;
            }

            &:last-child {
              color: $black-2;
            }
          }
        }
      }
    }

    .warp-image {
      position: absolute;
      right: 15%;
      top: 36px;
    }
  }
}
