@import 'assets/scss/mixins/base';

@mixin list() {
  .list-base-ui {
    background-color: $base-list-background-color;
    margin-top: 20px;

    .router-link {
      color: $base-color;

      &:hover {
        border-bottom: 1px solid $base-color;
      }
    }
    .el-table {
      th {
        background-color: #fff;
      }

      .el-table__body-wrapper.is-scrolling-none {
        overflow: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      .list-selection {
        .cell {
          padding-left: 20px;
          padding-right: 10px;
        }
      }

      .list-last {
        .cell {
          padding-right: 0px;
        }
      }
    }

    .list-name {
      .cell {
        padding-left: 0px;
      }

      &_way {
        display: inline-block;
        line-height: 1.2;
        padding: 3px 6px;
        background-color: #f2f2f2;
        color: #555555;
      }
    }

    .el-table .cell {
      padding-right: 40px;
      width: max-content;
    }

    .el-table th > .cell {
      font-weight: $list-table-th-font-weight;
      color: $list-table-th-color;
    }

    .el-rate__icon {
      margin-right: 0;
    }

    .list-handle {
      @include flex-center();

      &_follow,
      &_more {
        cursor: pointer;
        color: $list-table-handle-color;
        margin-right: 20px;
        white-space: nowrap;
      }
    }

    .pagination-footer {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
