@import 'assets/scss/mixins/base';
::v-deep.el-form-item {
  margin: 0;
}

.clientInfo {
  padding: 16px 0 0;
  border-bottom: 1px solid #eee;
  position: relative;
  &-dialog {
    @include flex-center_pagination();
  }
  .el-input__icon {
    height: 32px;
    line-height: 32px;
  }
  .router-link {
    color: $base-color;
    &:hover {
      border-bottom: 1px solid $base-color;
    }
  }
  .businessForm {
    display: flex;
    align-items: center;
    height: 32px;
    line-height: 32px;
    .el-input {
      width: 228px;
      height: 32px;
      .el-input__inner {
        width: 228px;
        height: 32px;
      }
    }

    .el-button {
      height: 32px;
      margin-bottom: 20px;
    }
    &-button {
      width: 82px;
      margin-left: 8px;
    }
  }

  .no-data {
    width: 100%;
    // margin-bottom: $margin-20;
    &-box {
      width: 60px;
      margin: 0 auto;
      .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
      }
      &-img {
        font-size: 60px;
      }
      &-text {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .clientTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    .el-icon-warning-outline {
      font-size: 18px;
    }
    .titleWord {
      width: 93px;
      height: 18px;
      position: relative;
      left: -20px;
      text-align: center;
      border-left: 2px solid #4974f5;
      font-size: $push-sheet-bussiness-info-title-fontsize;
      color: $push-sheet-bussiness-info-title-color;
      font-weight: $push-sheet-bussiness-info-title-weight;
      margin-right: 10px;
    }
  }
  .tipsText {
    display: flex;
    align-items: center;
    color: #e6a23c;
    .warning {
      margin-left: 8px;
      font-size: 12px;
    }
  }
  .clientContent {
    width: 100%;

    .infoList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 13px;
      padding-bottom: 10px;
      &-text {
        width: 74px;
        margin-right: 43px;
        color: #999;
      }
      .el-select {
        width: 228px;
        top: -5px;
      }
      .el-input__inner {
        width: 228px;
        height: 32px;
      }
      li {
        width: 46%;
        margin: 6px 0;
        align-items: flex-start;
        color: $black-2;
        display: flex;
        flex-wrap: wrap;
        .el-form-item {
          margin-bottom: 0 !important;
        }
        .el-form-item__content {
          line-height: 32px;
        }
        .el-form-item__error {
          width: 110px;
          left: 0;
          padding-top: 0;
        }
      }
    }
  }
}
