@import 'assets/scss/mixins/reset-ui.scss';
@import 'assets/scss/mixins/base.scss';

.cule-move-select-remote {
  .el-select-dropdown__wrap {
    .el-select-dropdown__item {
      height: max-content;
    }
  }
}

.cule-move-dialog {
  .el-dialog__body {
   
    .el-date-editor.el-input,
    .el-select {
      width: 300px;
    }

    .el-input__count {
      line-height: 14px;
    }
    .el-input__inner {
      height: 32px;
      border-radius: 2px;
    }

    .el-form {
      .el-form-item:last-child {
        margin-bottom: 0;
        height: 127px;
      }

      .el-form-item__label {
        width: 96px !important;
        padding: 0 !important;
      }

      .el-form-item__content {
        margin-left: 96px !important;
        letter-spacing: 0px !important;
      }
    }

    @include reset-label-before();

    .name {
      font-weight: $font-weight-crm;
      letter-spacing: 0.5px;
    }

    .need {
      width: 482px;

      &__item {
        margin: 4px 0 8px;
        max-width: 450px;
        height: 22px;
        line-height: 22px;
        border-radius: 2px;
        display: inline-block;
        padding: 0px 8px;
        box-sizing: border-box;
        font-size: 12px;
        margin-right: 8px;
        background-color: #f2f2f2;
      }
    }
  }

  .el-dialog__footer {
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .note {
        color: $gray-11;
        font-size: $font-size-sm;
      }
    }
  }
}

.el-message-box {
  .el-message-box__status {
    top: 30%;
    font-size: 18px !important;
  }
}
