.designee-person {
  &-searchBox {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    .el-input {
      width: 228px;
    }
    .el-input__inner {
      width: 228px;
      height: 32px;
    }
    .el-button {
      width: 49px;
      margin-left: 12px;
    }
  }
}
