@import 'assets/scss/mixins/base';
@include set-next-follow-datatime();
.set-next-follow-time {
  .label {
    color: #333333;
  }
  .el-date-editor {
    width: 300px;
  }
  .el-dialog__body {
    display: flex;
    align-items: center;
  }
}
