.remind-dialog {
  .el-dialog__body {
    height: 132px;
    color: $black;
    position: relative;

    .main {
      height: 48px;
      position: absolute;
      top: 50%;
      margin-top: -24px;

      &__text {
        margin-bottom: 8px;

        &-txtb {
          color: $base-color;
        }

        &-txtg {
          color: $green;
        }

        &-txtr {
          color: $red;
        }
      }

      &__txtc {

        color: $gray-14;
      }

    }

  }

}
