.move-remind-dialog {
  .icon-fail {
    color: $push-sheet-dialog-title-content-color;
  }

  .el-dialog__body {
    min-height: 80px !important;
  }

  .footer {
    .el-button--danger {
      width: 87px;
    }
  }

}
