@import 'assets/scss/mixins/base.scss';

.add-business-page {
  @include reset-label-before();
  background-color: #fff;
  padding-bottom: 16px;
  .title > span {
    width: 66px;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    line-height: 22px;
  }
  .title {
    width: 1004px;
    background: #ffffff;
    margin-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
  }
  .content {
    padding: 16px 0 0 20px;
    .clearable {
      width: 320px;
    }
    .el-input__inner {
      width: 320px;
      height: 32px;
    }
    .content-radio-man {
      margin-right: 20px;
    }
    .content-phone {
      &.el-form-item {
        margin-bottom: 16px;
      }
      display: inline-block;
      .phone-warp {
        display: flex;
      }
    }
    .icon-plus {
      width: 50px;
      margin-left: 12px;
      color: #4974f5;
      font-size: 12px;
      cursor: pointer;
      em {
        margin-left: 4px;
      }
    }
    .disabled {
      color: #8cadff;
    }
    .content-add-icon > span {
      margin-left: 6px;
    }
    .warn {
      line-height: 18px;
      color: #999999;
      .warn-icon {
        font-size: 12px;
      }
      .warn-text {
        font-size: 12px;
        margin-left: 4px;
      }
    }
    .new-add {
      margin-bottom: 16px;
      .el-form-item__content {
        display: flex;
        width: max-content;
        line-height: 32px;
      }
    }
    .el-button--medium {
      margin-left: 12px;
      padding: 6px 9px;
      i {
        font-size: 12px;
      }
    }
    .content-level {
      margin-top: 10px;
    }
    .el-textarea {
      width: 480px;
      .el-textarea__inner {
        height: 120px;
      }
    }
    .el-textarea .el-input__count {
      background-color: transparent;
      bottom: 0px;
    }
    .content-beiyong {
      .el-form-item__content {
        display: flex;
      }
      .el-form-item {
        .el-input__inner {
          width: 160px;
        }
        margin-right: 12px;
      }
      .el-select {
        .el-input {
          width: 80px;
        }
        .el-input__inner {
          width: 80px;
          padding-right: 8px;
          padding-left: 8px;
        }
      }
    }
    .el-form-item__label {
      color: #222222;
      padding: 0;
    }
  }
  .footer {
    display: flex;
    margin-left: 120px;
    margin-top: 22px;
  }
}
