@import 'assets/scss/mixins/reset-ui.scss';
.limit-details-page {
  .el-dialog__body {
    padding: 0;
    padding-top: 16px;
  }
  .limit-details-scroll {
    max-height: 492px;
    padding: 0 20px;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .explain {
      width: 74px;
      font-size: 14px;
      font-weight: 400;
      color: #999999;
      line-height: 20px;
    }
    .explain-content {
      font-size: 14px;
      font-weight: 400;
      color: #222222;
      line-height: 20px;
    }
  }
  .limit-details-content {
    display: flex;
    justify-content: space-between;
    .first-row {
      margin-bottom: 12px;
      width: 200px;
    }
  }
  .limit-details-tabs {
    margin-top: 24px;
    margin-bottom: 24px;
    & > div:nth-child(1) {
      font-size: 14px;
      font-weight: 600;
      color: #222222;
      line-height: 20px;
      border-left: 2px solid #4974f5;
      padding-left: 18px;
      position: relative;
      left: -20px;
    }
    .limit-details-tabs-content {
      margin-top: 18px;
      .limit-details-tabs-content-row {
        display: flex;
        margin-bottom: 12px;
      }
    }
  }
}
