@import 'assets/scss/mixins/base';
.show-phone {
  .el-dialog__body {
    height: 132px;
    padding: 24px;
  }
  .phone {
    @include flex-center();
    background: url('assets/image/image_bg_phone.png');
    width: 320px;
    height: 52px;
    color: $black-2;
    font-weight: $font-weight-crm;
  }
  .conunt {
    margin-top: 12px;
    text-align: center;
    color: $gray-11;
  }
}
