@import 'assets/scss/ellipsis.scss';

//tooltip组件样式
.multi-line-clamp-l2 {
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
}

.multi-line-clamp-l3 {
  -webkit-line-clamp: 3;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
}

.show-tooltip {
  cursor: pointer;
  min-width: 142px !important;
  max-width: 300px !important;
  line-height: 22px;
}

.text-decoration {
  text-decoration: underline;
  cursor: pointer;
}
