@import 'assets/scss/mixins/base';

.platform {

  font-size: $font-size-md;
  display: flex;
  flex-direction: column;

  .list-input .cell {
    overflow: visible;
  }

  .fixation {
    z-index: 2;
    background: #EEEEEE;
    padding-bottom: 20px;

    .switchboard {
      padding: 0 0 0 20px;
      height: 48px;
      line-height: 48px;
      width: 100%;
      background: $white;
      margin-bottom: 20px;

      .el-switch {
        .el-switch__core {
          width: 28px !important;
          height: 16px;
        }

        .el-switch__core::after {
          height: 12px;
          width: 12px;
        }
      }

      .el-switch.is-checked .el-switch__core::after {
        margin-left: -14px;
      }

      &__txt1 {
        font-size: $font-size-lg;
        color: $black-2;
        font-weight: $font-weight-crm;
      }

      &__content {
        display: inline;
      }

      &__txt2 {
        font-size: $font-size-md;
        color: $gray;
      }

      &__txt3 {
        font-size: $font-size-md;
        color: $base-color;
      }

      &__txt4 {
        font-size: $font-size-md;
        color: $push-sheet-dialog-title-content-color;
      }
    }

    .explain {
      width: 100%;
      height: 186px;
      padding: 9px 20px 16px 20px;
      background: $white;
      box-sizing: border-box;
      // margin-bottom: 20px;

      &__title {
        padding: 0 0 10px 0;
        border-bottom: 1px solid $gray-10;
        color: $black-2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $font-size-lg;
        font-weight: $font-weight-crm;

        &-txt1 {
          height: 22px;
          width: 66px;
          line-height: 22px;
          word-spacing: 0.31px;
        }

        .el-button {
          height: 28px;
          width: 40px;
          font-size: $font-size-sm;
          line-height: 8px;
          padding: 0;
          word-spacing: 0.31px;
        }
      }

      &__text {
        box-sizing: border-box;
        padding: 16px 0 8px 0;
        color: $gray;

        &-1 {
          box-sizing: border-box;
          height: 28px;
          line-height: 20px;
          color: $gray;
        }

        &-2 {
          box-sizing: border-box;
          height: 28px;
          line-height: 20px;
          color: $gray-11;

          span {
            color: $push-sheet-dialog-title-content-color;
          }
        }
      }

    }
  }

  ::-webkit-scrollbar {
    display: none;
  }


  .content {
    flex: 1;
    overflow: scroll;


    .business {
      margin-bottom: 20px;
    }

    .business,
    .staff {
      padding: 13px 20px 16px 20px;
      background: $white;

      &__title {
        font-size: $font-size-lg;
        font-weight: $font-weight-crm;
        color: $black-2;
        padding-bottom: 13px;
      }

      &__table {
        width: 100%;
        color: $black-2;

        th {
          padding: 24px 0 !important;
          color: $black-2;
          font-size: $font-size-md;
          font-weight: $font-weight-crm;
        }

        td {
          padding: 24px 0 !important;
        }

        .cell {
          line-height: 20px;
          display: flex;

          .el-switch {
            .el-switch__core {
              width: 28px !important;
              height: 16px;
            }

            .el-switch__core::after {
              height: 12px;
              width: 12px;
            }
          }

          .el-switch.is-checked {
            .el-switch__core::after {
              margin-left: -13px !important;
            }
          }
        }



        .el-form-item {
          margin-bottom: 0;
          margin-right: 4px;
          width: 86px !important;

          .val {

            font-size: $font-size-sm;

            .el-input__inner {
              height: 32px;
              text-align: center;
              padding: 0;
            }
          }

          .el-form-item__content {
            position: relative;

          }


          .el-form-item__error {
            width: 74px;
            top: 90% !important;
            font-size: 8px;
          }
        }

      }
    }

  }


}
