.refusalRelease {
  .refusaltextarea {
    width: 440px;
    height: 120px;
    .el-form-item__label {
      width: 95px;
    }
    .el-form-item__content {
      margin-left: 95px;
    }
    .el-textarea__inner {
      height: 120px;
      font-size: 13px;
      color: #999;
      textarea {
        height: 120px !important;
        min-height: 120px !important;
      }
    }
  }
}
