.needs-details-dialog {
  .business-demand-info {
    box-shadow: none !important;
  }

  .el-dialog__body {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .el-dialog__header {
    height: 0;
  }

  .business-demand-info {
    margin-top: 0;
    padding: 0;
    width: 100%;
  }
}
