@import 'assets/scss/mixins/list-ui';
@include list();
.handle-record-table {
  .el-table th > .cell,
  .el-table .cell {
    padding-left: 20px;
  }
  .page-break {
    background-color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
