.handle-log {
  .table-th,
  .table-tr {
    padding: 0 16px;
    line-height: 48px;
    display: flex;

    div {
      width: 170px;
      white-space: nowrap;
    }
  }

  .table-ul {
    min-height: 120px;
    max-height: 220px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .no-more {
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: #bfbfbf;
  }

  .more-month {
    height: 28px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .el-date-editor {
      margin-left: 8px;
      width: 160px;
    }
  }

  .table-th {
    background-color: #f2f2f2;
    color: $black-2;
    font-weight: $font-weight-crm;
  }

  .no-data {
    margin-top: 16px;
  }

  .table-tr {
    border-bottom: 1px solid #e5e5e5;
    // &:last-child {
    //   border-bottom: 0;
    // }
  }
}
